
* {
  margin: 0px;
  padding: 0px;
}

.m-r{
  margin-right: 20px;
  color: #e0e0e0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 1000;
  left: 50%; 
  transform: translateX(-50%);
  background-color: rgb(35, 34, 41);
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

.logo img {
  width: 70px;
  margin: 10px;
  margin-left: 20px;
}

.list {
  display: flex;
  align-items: center;
}

.list a {
  font-family: "Madimi One", sans-serif;
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
  color: aliceblue;
  position: relative;
}

.list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.list a:hover::after {
  background-color: #f15d36;
}

.form-container {
  margin-left: 50px;
  margin-right: 50px;
}

input[type="text"] {
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 6px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #f15d36;
}

/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(35, 34, 41);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 10px 10px;
  top: 100%;  /* Position below the link */
  left: 0;
}

.dropdown-content a {
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > .link {
  background-color: #575757;
}


.main-info {
  position: relative;
  padding: 0px 100px;
  display: flex;
  margin: 100px 0px 0px 0px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}
.main-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/library.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(2px); 
  z-index: -2; 
}

.main-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37, 37, 37, 0.349); 
  z-index: -1; 
}

.main-info img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-right: 0px;
  background-repeat: no-repeat;
}

.heading-1{
  margin: 0px 300px 0px 0px;
}
.heading-1 h1 {
  color: #ffffff;
  margin: 0px 0px 10px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

.paragraph {
  margin: 30px 100px 30px 100px;
}

.paragraph p {
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.heading-2 {
  position: relative;
  margin: 50px 100px 0px 100px;
}

.heading-2 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

.canteen-box {
  background-color: #ffd9b6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0px 0px 0px;
  padding: 30px;
  
}

.library {
background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}
.library img{
  width: 300px;
  height: 200px;
  margin: 0px 0px 15px 0px;
  border-radius: 10px 10px 0px 0px;
}

.library:hover {
  transform: scale(1.1);
}

.library h2{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.library a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f15d36;
}

.turning-point{
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.turning-point img{
  width: 300px;
  height: 200px;
  margin: 0px 0px 15px 0px;
  border-radius: 10px 10px 0px 0px;
}

.turning-point:hover {
  transform: scale(1.1);
}

.turning-point h2{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.turning-point a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f15d36;
}

.central-canteen{
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.central-canteen img{
  width: 300px;
  height: 200px;
  margin: 0px 0px 15px 0px;
  border-radius: 10px 10px 0px 0px;
}

.central-canteen:hover {
  transform: scale(1.1);
}

.central-canteen h2{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.central-canteen a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f15d36;
}

.footer-index{
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: rgb(35, 34, 41);
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
}

/* Cateens Page STyling */

/* Molana Azad Canteen */
.search {
  display: flex;
  background: #ffffff;
  background-image: url(../images/library.jpg);
  background-size: cover;
  border-image: fill 0 linear-gradient(#0001, #000);
  background-repeat: no-repeat;
  padding: 200px 150px; 
  justify-content: center;
}

.search form {
  display: flex;
}

.search input[type='text'] {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 0%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.search input[type='submit'] {
  background: #f15d36;
  color: #ffffff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
  cursor: pointer;
}

/*Zh Canteen*/
.search-zh {
  display: flex;
  background: #ffffff;
  background-image: url(../images/zhCanteen.jpg);
  background-size: cover;
  border-image: fill 0 linear-gradient(#0001, #000);
  background-repeat: no-repeat;
  padding: 200px 150px; 
  justify-content: center;
}

.search-zh form {
  display: flex;
}

.search-zh input[type='text'] {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 0%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.search-zh input[type='submit'] {
  background: #f15d36;
  color: #ffffff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
  cursor: pointer;
}

/*Library Canteen*/
.search-lib {
  display: flex;
  background: #ffffff;
  background-image: url(../images/libraryCanteen.jpg);
  background-size: cover;
  border-image: fill 0 linear-gradient(#0001, #000);
  background-repeat: no-repeat;
  padding: 300px 150px; 
  justify-content: center;
}

.search-lib form {
  display: flex;
}

.search-lib input[type='text'] {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 0%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.search-lib input[type='submit'] {
  background: #f15d36;
  color: #ffffff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
  cursor: pointer;
}


/* Food Item */
.food-items-container {
  background: #e0e0e0;
  padding: 80px 5%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.food-items-container .food-items .item {
  text-align: center;
  color: #202020;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.food-items-container .food-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.food-items .item {
  display: flex;
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 10px;
}

.food-items .item div{
  width: 120px;
}

.food-items .item img {
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.food-items .item h3 {
  color: #202020;
  font-size: 16px;
}

.food-items .item p {
  font-size: 14px;
  font-weight: 800;
  color: red;
  margin: 10px 0px 2px;
}

.food-items .item span {
  color: #2ead22;
  font-weight: 600;
  font-size: 12px;
}

.food-items .item input {
  width: 35px;
  display: block;
  margin: 8px 0px;
}

.food-items .item input[type='submit'] {
  background: #202020;
  color: #ffffff;
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}


/*map Section*/

.map-container {
  display: flex;
  width: 100%;
  height: 100%;
}
#map {
    height: 400px;
    width: 80%;
    z-index:100;
    
}
.details {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.details h2 {
  margin-top: 0;
}
.details p {
  margin: 10px 0;
}

.footer{
  height: 5%;
}